@model ImpBBQLibary.Kochvorgang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kochvorgang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Protokoll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protokoll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rezept.Rezeptnamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezept.Rezeptnamen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Koch.Kochname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koch.Kochname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
