@using ImpBBQLibary
@model ImpBBQLibary.Bilder
@{
    ViewBag.Title = "BildHinzufügen";
}
<h2>Bild noch nicht vorhanden? Hier hochladen @Html.ActionLink("Bild hochladen","Add","Image")</h2>
<h2>BildHinzufügen</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rezept</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Bildernamen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Bildernamen", (IEnumerable<SelectListItem>)ViewBag.UserImages)
                @Html.ValidationMessageFor(model => model.Bildernamen, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}