@using ImpBBQLibary
@model ImpBBQLibary.Rezept

@{
    ViewBag.Title = "Details";
}

<h2>Details: @Model.Rezeptnamen</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rezeptnamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezeptnamen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorgehen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorgehen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rezeptbewertung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezeptbewertung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Koch.Kochname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koch.Kochname)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<h2>Liste der Zutaten</h2>
<ul>
    @foreach (Zutaten zutat in Model.Zutaten)
    {
        <li>
            @zutat.Zutatennamen
        </li>
    }
</ul>
<h2>Liste der Kochvorgänge</h2>
<ul>
    @foreach (Kochvorgang kochvorgang in Model.Kochvorgang)
    {
        <li>
            @kochvorgang.Koch.Kochname
            @Html.ActionLink("Genauer anschauen",
                             "Details",
                             "Kochvorgangs",
                             new { Id = kochvorgang.Id },null)
        </li>
    }
</ul>
