@using ImpBBQLibary
@model ImpBBQLibary.Rezept

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rezept: @Model.Rezeptnamen</h4>
    <h4>Folgende Köche haben schon mit diesem Rezept gekocht: @Model.Kochvorgang</h4>
    <h4>Es enthält folgende Zutaten: @Model.Zutaten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rezeptnamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezeptnamen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorgehen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorgehen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rezeptbewertung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezeptbewertung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Koch.Kochname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koch.Kochname)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="table">
    @foreach (Zutaten zutat in Model.Zutaten)
    {
        <td>
            @Html.DisplayFor(modelzutat => zutat.Zutatennamen)
        </td>
    }
</table>
