@model ImpBBQLibary.Rezept

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rezept: @ViewBag.Rezept</h4>
    <h4>Folgende Köche haben schon mit diesem Rezept gekocht: @ViewBag.AktuelleVorgänge</h4>
    <h4>Es enthält folgende Zutaten: @ViewBag.AktuelleZutaten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rezeptnamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezeptnamen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorgehen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorgehen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rezeptbewertung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezeptbewertung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Koch.Kochname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koch.Kochname)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
