@model IEnumerable<ImpBBQLibary.Rezept>

@{
    ViewBag.Title = "Index";
}
<h3>@Html.ActionLink("Kochvorgänge","UserVorgänge")</h3>
<h2>Meine Rezepte</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rezeptnamen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vorgehen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rezeptbewertung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Koch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zutaten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kochvorgang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rezeptnamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorgehen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rezeptbewertung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koch.Kochname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zutaten.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kochvorgang.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                @Html.ActionLink("Zutaten auswählen", "ZutatenAuswählen", new { id = item.Id })|
                @Html.ActionLink("Kochvorgang hinzufügen", "KochvorgangAnlegen", new { id = item.Id })|
            </td>
        </tr>
    }
</table>