@using ImpBBQLibary
@model ImpBBQLibary.Rezept
@{
    ViewBag.Title = "ZutatenHinzufügen";
}
<h1>@ViewBag.Rezept</h1>
<h2>Liste der Zutaten</h2>
<ul>
    @foreach (Zutaten zutat in Model.Zutaten)
    {
        <li>
            @zutat.Zutatennamen
        </li>
    }
</ul>
<h2>Zutaten Löschen</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rezept</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Zutaten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Zutatennamen", (IEnumerable<SelectListItem>)ViewBag.Zutaten)
                @Html.ValidationMessageFor(model => model.Zutaten, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<h2>Zutaten @Html.ActionLink("Hinzfügen", "ZutatenAuswählen", new { id = Model.Id })</h2>
