@model IEnumerable<ImpBBQLibary.Koch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>Eingeloggter User:@ViewBag.CurrentUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kochname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kochbewertung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bilder.Bildernamen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kochname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kochbewertung)
        </td>
        <td>
            <img src=@Url.Action("show", "Show", new {id= item.Id})/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
